.button {
  border: 0;
  background-color: #fff;
  padding: 8px 15px;
  display: inline-flex;
  align-items: center;
  color: $dark-color;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: $dark-color;
  }

  &.dark {
    background-color: $dark-color;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $dark-color;
    }
  }

  &__text {
    padding: 3px 2px 0px;
  }

  &--outbound {
    // background-image: url("../assets/images/arrow.svg");
    background-size: 30px;
    padding-right: 2.5em;
    background-position: 99px center;
    background-size: 1.2em;
  }
}

// IE fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg.icon {
    transform: rotate(-46deg) translate(-27px, 0);
    transform-origin: 25% -175%;
    width: 30px;
  }
}

#svg-arrow {
  transform: rotate(-46deg) translate(-27px, 0) scale(0.3);
  width: 30px;
  transform-origin: center;
}
