.features {
  display: flex;
  flex-wrap: wrap;
  // margin: 60px 0;
  border-radius: $border-radius;
  overflow: hidden;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  // IE fix
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex-wrap: nowrap;
  }

  &.dark {
    background-color: $feature-dark;
  }

  &.light {
    background-color: $feature-light;
  }

  &:first-child,
  &:last-child {
    &.right {
      // first img
      img {
        border-radius: $border-radius 0 0 0;
        @media (max-width: $desktop) {
          border-radius: 0;
        }
      }
    }
    &.left {
      // last img
      img {
        border-radius: 0 0 $border-radius 0;
        @media (max-width: $desktop) {
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    &.right {
      .feature-col {
        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
        }
      }
    }

    &.left {
      .feature-col {
        &:first-child {
          order: 1;
        }

        &:last-child {
          order: 2;
        }
      }
    }
  }

  @media (max-width: $desktop) {
    flex-flow: column;
  }
}

.feature-content {
  // @media (max-width: $desktop) {
  padding: 3rem 0;
  // }
}

.feature-title {
  max-width: 10em; // break after "uit"
}

.feature-col {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 50%;

  // IE fix
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    flex: auto;
  }

  .img__inner {
    background-size: cover;
    background-position: 80% center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.img {
    position: relative;

    &--werkenin {
      @media (max-width: $desktop) {
        background-position: top right;
      }
      background-position: 100% 50%;
    }
    &--schilderen {
      @media (max-width: $mobile) {
        background-position: center 50%;
        background-size: cover;
      }
      background-size: cover;
      background-position: 50% 86%;  
    }

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }

    @media (max-width: $desktop) {
      max-height: 300px;
    }
  }

  &:not(.img) {
    padding: 0 60px;
    align-items: center;

    @media #{$desktop-medium} {
      padding: 0 vw(60px);
    }
    @include phone-only {
      padding: 0 15px;
    }
  }

  h2,
  p {
    text-align: left;
    margin-top: 0;
    // width: 100%;
  }

  h2 {
    margin-bottom: 0.5em;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
