header {
  // background-image: url("/assets/header-img-small.jpg");
  // background-position: right center;
  // background-size: cover;
  display: block;
  min-height: 600px;
  padding: 0 $wrap-padding;
  position: relative;
  width: 100%;

  @media screen and (max-width: $mobile) {
    padding: 0 $padding;
    overflow: hidden;
    min-height: 200px;
  }

  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    background-position: right top 40%;
    min-height: 332px;
  }

  // @media screen and (min-width: $desktop) {
  //   background-image: url("/assets/header-img.jpg");
  //   background-position: center;
  // }

  // @media #{$desktop-medium} {
  //   background-image: url("/assets/header-img-med.jpg");
  // }

  @media #{$desktop-page} {
    padding: 0 vw($wrap-padding);
  }
  .logo--black {
    display: none;
  }

  &.logo-is-black {
    .logo--black {
      display: block;
    }
    .logo--white {
      display: none;
    }
  }

  &.small {
    background-position: center top 40%;
    height: 30vh;

    @media screen and (max-width: $mobile) {
      background-position: right top 40%;
      height: 15vh;
    }

    @media #{$desktop-medium} {
      height: 20vh;
    }
  }
}

body .slick-slider {
  position: absolute !important;  width: 100%;  z-index: -1;
}

.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  // background-color: red;
  width:100%;
}


  .slide {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 $wrap-padding;

    @media screen and (max-width: $mobile) {
      background-image: none !important;
      padding: 0 2em;
    }
  }

body .slide {
  height: 100%;
  background-size: cover;
  background-position: center;
}

body .slick-slider {
  height: 100%;
  * {
    height: 100%;
    // max-width: 100%;
  }
}

body .header-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .swiper-container {
    height: 100%;


    .swiper-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 99;
      color: #fff;
      margin: 1.25rem 0;
    }

    .swiper-play {
      margin-left: 1em;
      cursor: pointer;
      &.hidden {
        display: none;
      }

      &__icon {
        width: 14px;
        pointer-events: none;
      }
    }

    .pagination {
      //
    }

    //   .swiper-pagination-bullet {
    //     width: 12px;
    //     height: 12px;
    //     border: 1px solid #fff;
    //     display: inline-block;
    //     margin: 8px;
    //     opacity: 1;
    //     background: none;
    //     border-radius: 8px;
    //     transition: all 0.3s ease;
    //     position: relative;
    //     cursor: pointer;

    //     &:hover {
    //       background-color: #fff;
    //     }

    //     &.swiper-pagination-bullet-active {
    //       background-color: #fff;
    //       width: 24px;
    //     }
    //   }
  }
}

.background-header {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-position: center;
  z-index: 0;

  &--story {
    background-position: top;
  }

  &--xl {
    @media screen and (min-width: $desktop-large), (orientation: landscape) {
      display: block;
    }
  }
  &--desktop {
    @media screen and (min-width: $mobile) and (max-width: $desktop-large) and (orientation: portrait) {
      display: block;
    }
    // @media screen and (min-width: $desktop-large) {
    //   display: none;
    // }
  }
  &--mobile {
    @media screen and (max-width: $mobile) and (orientation: portrait) {
      display: block;
    }
  }
}

.overlay {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to top right, #0b2164 -10%, transparent 60%);
}

.homepage {
  .header-content {
    display: block;
  }
}

body .header-content {
  height: initial;
  position: relative;
  z-index: 10;

  @media screen and (max-width: $mobile-large) {
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(35%);
    // margin-bottom: 2.25em;
    //   padding: 0 0.5em;
  }

  &--article {
    display: flex;
    align-items: center;
    // position: absolute;
    height: 100%;
    transform: none;
    padding: 0 96px;
    max-width: 800px;

    @media screen and (max-width: $mobile) {
      padding: 0 2em;
    }
  }

  blockquote {
    // margin-bottom: 80px;
    padding: 0;
    font-size: 65px;
    color: #fff;

    @media screen and (min-width: $mobile) and (max-width: $mobile) and (orientation: portrait) {
      width: 100%;
      // font-size: 10vw;
      transform: translateX(10px);
    }

    @media screen and (max-width: $mobile), (max-width: 1200px) and (orientation: landscape) {
      font-size: 38px;
    }
    @media screen and (max-width: $mobile) and (orientation: portrait)  {
      font-size: 8vw;
    }
    @media screen and (max-width: $mobile) and (orientation: landscape) {
          // transform: translateY(35%);

          font-size: 38px;

    }

    &.blockquote {
      &.mobile {
        @media (min-width: $mobile-large) {
          display: none;
        }
      }
      &.desktop {
        @media (max-width: $mobile-large) {
          display: none;
        }
      }
    }
  }
}

.ro-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  z-index: 10;

  img {
    @media only screen and (min-width: 768px) {
      transform: translateX(42%);
      min-width: 300px;
      width: vw(500px, $mobile-container);
      max-width: 300px;
    }

    @media only screen and (max-width: 767px) {
      width: 30px;
    }

    @media #{$desktop-page} {
    }
  }
}
