html,
body {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: "RO Sans", Arial, Sans-Serif;
}

main {
  display: block;
}

a {
  color: inherit;
}

button {
  background-color: initial;
  border: initial;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: auto;
}

picture {
  line-height: 0;
  font-size: 0;
}
