main {
  display: block;
  margin: 0 auto;
  max-width: $page-container;
  min-width: 320px;
}

section, .section {
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 2.5rem;

  @media #{$desktop-medium} {
    padding: 0 vw(100px);
  }

  @media (max-width: $desktop) {
    padding: 0;
    margin-bottom: 2.5rem;
  }

  &:first-of-type {
    padding-top: 6rem;
  }

  &--toegankelijkheid {
    max-width: 700px;
    box-sizing: content-box;
    padding-left: 15px;
    padding-right: 15px;
  }

  img {
    max-width: 100%;
  }

  &.padding {
    padding: 0 15px;

    .no-padding {
      margin: 0 -15px;
    }
  }

  &.sticky {
    margin-bottom: 0;
  }
}

.padding {
  padding: 0 $padding;
}

body .pt-0 {
  padding-top: 0;
}

body.fixed {
  position: fixed;
}

.d-block {
  display: block;
}